
.buttonOverImage{
  width: 200px;
  height:200px;
  float: left;
  margin: 10px;
  background-size: 100%;
  background-position: center;
  transition: 0.5s;
  background-image: url("logo.png");
}

.buttonOverImage:hover{
  background-size: 110%;
 
}